.homepage-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-form-container input {
    width: 50%;
    border-radius: 4px;
}

.homepage-form-content-item {
    display: flex;
}

.homepage-form-content-item select{
    width: 50%;
}

.homepage-form-content-item label {
    width: 100px;
}