<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lấy lá số</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/thienban.css' %}">
</head>
<body>
    <div class="la-so-grid-container">
        <div class="dia-ban" id="snake" name="snake">6</div>
        <div class="dia-ban" id="horse" name="horse">7</div>
        <div class="dia-ban" id="goat" name="goat">8</div>
        <div class="dia-ban" id="monkey" name="monkey">9</div>
        <div class="dia-ban" id="dragon" name="dragon">5</div>
        <div class="thien-ban"></div>
        <div class="dia-ban" id="chicken" name="chicken">10</div>
        <div class="dia-ban" id="cat" name="cat">4</div>
        <div class="dia-ban" id="dog" name="dog">11</div>
        <div class="dia-ban" id="tiger" name="tiger">3</div>
        <div class="dia-ban" id="ox" name="ox">2</div>
        <div class="dia-ban" id="mouse" name="mouse">1</div>
        <div class="dia-ban" id="pig" name="pig">12</div>
    </div>
</body>
</html>